@import "components/header";
@import "components/footer";


@import "pages/index";
@import "pages/descargas";
@import "pages/faq";
@import "pages/ver_mas";
@import "pages/galeria";

@import "utilities/globals";
@import "utilities/body";
@import "utilities/button";
@import "utilities/title";
@import "utilities/icon";