/* FAQ */

@import "../utilities/colors";

.faq-container {
    background-color: $MarronClaro;
    border: 6px solid $MarronOscuro;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1%;
  
    .faq-question {
      color: $MarronOscuro;
      text-decoration: underline;
    }
  
    .faq-txt {
      color: $Marron;
    }
  
    @media only screen and (min-width: 768px) {
      margin-right: 10rem;
      margin-left: 10rem;
      .faq-txt{
        font-size: 1.3rem;
    }
    }
  }
  