/* Ver más */

@import "../utilities/colors";

.card-deck{
    display: flex!important;
    flex-direction: column!important;
}
@media (min-width: 1024px) {
    .card-deck{
        display: flex!important;
        flex-direction: row!important;
    }
}
.card-img-top {
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-radius: 2%;
  }
  
  .ver-mas-txt {
    color: $Marron;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .card-body {
    align-items: center !important;
    background-color: $MarronClaro;
    border: 3px solid white;
    border-radius: 2%;
  }
  
  .card-title{
    color: $MarronOscuro;
    text-decoration: underline;
  }
