/* Buttons */

@import "../utilities/colors";

.btn1 {
    background-color: $Celeste;
    color: white;
    padding: 10px;
    border: 1px solid $Cyan;
    border-radius: 10%;
    font-size: 1.3rem;
    text-decoration: none;
  
    &:hover {
      color: White;
      background-color: $CelesteClaro;
      text-decoration: none;
    }
  
    &:active {
      background-color: $Azul;
      color: White;
      text-decoration: none;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .btn1{
    font-size: 1.5rem;
    padding: 15px;
  }
}

.btn2 {
    background-color: $Celeste;
    color: white;
    padding: 10px;
    border: 1px solid $Cyan;
    border-radius: 10%;
    font-size: 1rem;
    margin-top: 2rem;
    text-decoration: none;
  
    &:hover {
      color: white;
      background-color: $CelesteClaro;
      text-decoration: none;
    }
  
    &:active {
      background-color: $Azul;
      color: white;
      text-decoration: none;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .btn2{
    font-size: 1rem;
    padding: 15px;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}